<section class="projects-page post-index">
  <% if (page.projects && page.projects.length) { %>
  <% page.projects.forEach(function(project) { %>
  <article class="post-card project-card">
    <h2 class="post-title">
      <% if (project.password) { %>
      <%- partial('partial/lock') %>
      <% } %>
      <a href="<%= url_for(project.path) %>"><%= project.title %></a>
    </h2>
    <div class="post-meta">
      <time datetime="<%= date_xml(project.date) %>">
        <%= date(project.date, config.date_format || 'YYYY-MM-DD') %>
      </time>
      <% if (project.project_tags && project.project_tags.length) { %>
      <span class="meta-sep">-</span>
      <span>
        <% project.project_tags.forEach(function(tag, i) { %>
        <%= tag %><%= i < project.project_tags.length - 1 ? ', ' : '' %>
        <% }); %>
      </span>
      <% } %>
      <% if (project.read_time_text || project.read_time) { %>
      <span class="meta-sep">-</span>
      <span class="post-readtime">
        <%= project.read_time_text || (project.read_time && project.read_time.text) %>
      </span>
      <% } %>
    </div>
    <div class="post-excerpt">
      <% if (project.project_summary) { %>
      <%= project.project_summary %>
      <% } else if (project.excerpt) { %>
      <%- strip_html(project.excerpt).substring(0, 220) %>
      <% } else if (project.content) { %>
      <%- strip_html(project.content).substring(0, 220) %>
      <% } else { %>
      No description provided yet.
      <% } %>
    </div>
    <div class="post-meta-bottom">
      <nav>
        <a href="<%= url_for(project.path) %>" class="read-more">
          Read more
        </a>
        <% if (project.project_url) { %>
        <span class="meta-sep">&nbsp;</span>
        <a href="<%= project.project_url %>" class="read-more" target="_blank" rel="noopener">
          View project
        </a>
      </nav>
      <% } %>
      <% var hash = short_hash_for(project.path); %>
      <% if (hash) { %>
      <a href="<%= url_for('/s/' + hash + '/') %>">
        #<%= hash %>
      </a>
      <% } %>
    </div>
  </article>
  <% }); %>
  <% if (page.prev || page.next) { %>
  <nav class="pagination">
    <% if (page.prev) { %>
    <a class="prev" href="<%= url_for(page.prev_link) %>">
      &laquo; Newer
    </a>
    <% } %>
    <span class="meta-sep">&nbsp;</span>
    <% if (page.next) { %>
    <a class="next" href="<%= url_for(page.next_link) %>">
      Older &raquo;
    </a>
    <% } %>
  </nav>
  <% } %>
  <% } else { %>
  <p>
    No projects have been defined yet. Add files under
    <code>source/_projects</code>.
  </p>
  <% } %>
</section>